.e .violet {
    top: 0;
    left: calc(var(--font-stroke) * 1.4);
    width: calc(var(--font-stroke) * 1.9);
    height: var(--font-stroke);
    transition-property: transform;
    transition-duration: 2s;
}

.e .blue {
    top: calc(var(--font-stroke) * 4.2);
    left: calc(var(--font-stroke) * 1.4);
    width: calc(var(--font-stroke) * 1.9);
    height: var(--font-stroke);
    transition-property: transform;
    transition-duration: 2s;
}

.e:hover .violet,
.e:focus .violet,
.e:hover .blue,
.e:focus .blue {
    transform: translateX(calc(1 * var(--total)));
}

.e .pink {
    top: calc(var(--font-stroke) * 2.3);
    left: calc(var(--font-stroke) * 0.7);
    width: calc(var(--font-stroke) * 1.6);
    height: 1rem;
    transition-property: transform;
    transition-duration: 2s;
}

.e:hover .pink,
.e:focus .pink {
    transform: translateX(calc(-1 * var(--total)));
}

.e .orange .middle {
    top: calc(var(--total));
    left: var(--font-stroke);
    height: calc(var(--total) * 2.5 + var(--border-width));
    width: calc(var(--total) * 0.7);
    border-radius: var(--curve-for-e) 0 0 var(--curve-for-e);
    border-right: none;
}

.e .orange .big {
    top: 0;
    left: 0;
    height: calc(var(--total) * 4.5 + var(--border-width));
    width: calc(var(--total) * 1.6);
    border-radius: calc(2 * var(--curve-for-e)) 0 0 calc(2 * var(--curve-for-e));
    border-right: none;
}

.e .orange .small-one {
    border-radius: 0 var(--border-curve) var(--border-curve) 0;
    top: 0;
    left: calc(var(--total) * 1.7);
    height: var(--font-stroke);
    width: calc(var(--font-stroke) * 0.6);
    border-left: none;
}

.e .orange .small-two {
    border-radius: 0 var(--border-curve) var(--border-curve) 0;
    top: calc(var(--total) * 3.5 + var(--border-width) * 2);
    left: calc(var(--total) * 1.7);
    height: var(--font-stroke);
    width: calc(var(--font-stroke) * 0.6);
    border-left: none;
}
