.e .violet {
    top: 0;
    left: calc(var(--font-stroke) * 1.6);
    width: calc(var(--font-stroke) * 1.6);
    height: var(--font-stroke);
    border-radius: 50px;
}
.e .blue {
    top: calc(var(--font-stroke) * 3.6);
    left: calc(var(--font-stroke) * 1.6);
    width: calc(var(--font-stroke) * 1.6);
    height: var(--font-stroke);
    border-radius: 50px;
}
.e .pink {
    top: calc(var(--font-stroke) * 2);
    left: calc(var(--font-stroke) * 1);
    width: calc(var(--font-stroke) * 1.6);
    height: 16px;
    border-radius: 50px;
}
