.h .orange {
    top: calc(var(--font-stroke) * 2);
    left: 0;
    width: calc(var(--total) * 3.1);
    height: var(--font-stroke);
}

.h .blue {
    top: 0;
    left: 0;
    width: var(--font-stroke);
    height: calc(var(--font-stroke) * 5);
}

.h .pink {
    top: 0;
    left: calc(var(--total) * 2.2);
    width: var(--font-stroke);
    height: calc(var(--font-stroke) * 5);
}

.h .violet {
    top: 0;
    left: calc(var(--total) * 2.2);
    width: var(--font-stroke);
    height: calc(var(--font-stroke) * 1.2);
}
