:root {
    --pink-color: #d74090;
    --blue-color: #4b9bbe;
    --orange-color: rgb(243, 147, 26);
    --violet-color: #d7aaff;
    --background-violet: rgb(80, 52, 105);
    --border-width: 0.1875rem;
    --font-stroke: 1.5625rem;
    --border-curve: calc(2 * var(--font-stroke));
    --total: calc(var(--font-stroke) + var(--border-width));
    --curve-for-e: 1.25rem;
}

.root {
    background-color: var(--background-violet);
    width: 75rem;
    height: 50rem;
    padding: 12.5rem;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.letter {
    position: relative;
    min-width: calc(var(--font-stroke) * 3.8);
    min-height: calc(var(--font-stroke) * 5.5);
    margin: calc(var(--font-stroke) * 0.5);
    outline: 0;
}

.letter.double-letter {
    min-width: calc(var(--total) * 5 + var(--border-width));
}

.letter div {
    border-radius: var(--border-curve);
}

.letter .multiple-parts {
    position: relative;
    border: none;
}

.orange,
.blue,
.pink,
.violet {
    border-style: solid;
    border-width: var(--border-width);
    position: absolute;
    box-sizing: content-box;
}

.orange span,
.blue span,
.pink span,
.violet span {
    border-style: solid;
    border-width: var(--border-width);
    position: absolute;
}

.orange,
.orange span {
    border-color: var(--orange-color);
}

.blue,
.blue span {
    border-color: var(--blue-color);
}

.pink,
.pink span {
    border-color: var(--pink-color);
}

.violet,
.violet span {
    border-color: var(--violet-color);
}

.fill {
    background-color: var(--background-violet);
}
