.n .pink {
    top: calc(var(--total) * 1.75);
    left: calc(var(--total) * -1);
    width: calc(var(--total) * 5.1);
    height: var(--total);
    transform: rotate(58deg);
    /*background-color: var(--background-violet); /**/
}

.n .blue {
    top: 0;
    left: 0;
    width: var(--font-stroke);
    height: calc(var(--font-stroke) * 5);
}

.n .orange {
    top: 0;
    left: calc(var(--total) * 2.2);
    width: var(--font-stroke);
    height: calc(var(--font-stroke) * 5);
}

.n .violet {
    top: 0;
    left: calc(var(--total) * 2.2);
    width: var(--font-stroke);
    height: calc(var(--font-stroke) * 1.2);
}
