:root {
    --background-black: rgb(29, 29, 27);
}

.root {
    background-color: var(--background-black);
}

svg {
    overflow: visible;
}

.letter,
.letter svg {
    width: 8.125rem;
    height: 11.25rem;
}

path.orange {
    filter: drop-shadow(0 0 0.5rem var(--orange-color));
}

path.blue {
    filter: drop-shadow(0 0 0.5rem var(--blue-color));
}

path.pink {
    filter: drop-shadow(0 0 0.5rem var(--pink-color));
}

path.violet {
    filter: drop-shadow(0 0 0.5rem var(--violet-color));
}
