.r .blue {
    top: 0;
    left: 0;
    width: var(--font-stroke);
    height: calc(var(--font-stroke) * 5);
    transition-property: transform;
    transition-duration: 2s;
}

.r .violet {
    top: calc(var(--font-stroke) * 3.5);
    left: 0;
    width: var(--font-stroke);
    height: calc(var(--font-stroke) * 1.5);
    transition-property: transform;
    transition-duration: 2s;
}

.r:hover .blue,
.r:focus .blue,
.r:hover .violet,
.r:focus .violet {
    transform: translateY(calc(1.5 * var(--total)));
}

.r .pink {
    top: calc(var(--total) * 1.8);
    left: calc(var(--total) * 1.45);
    width: var(--total);
    height: calc(var(--total) * 3);
    transform: rotate(135deg);
    transition-property: top, left;
    transition-duration: 2s;
}

.r:hover .pink,
.r:focus .pink {
    top: calc(var(--total) * 2.8);
    left: calc(var(--total) * 2.45);
}

.r .orange {
    transform: rotate(-90deg);
}

.r .orange .small-one,
.r .orange .small-two {
    top: calc(var(--total) * -0.7);
    left: calc(var(--total) * -1.5 + var(--border-width));
    width: var(--font-stroke);
    height: calc(var(--font-stroke) * 0.6);
    border-bottom: none;
    border-top: none;
}

.r .orange .small-two {
    left: calc(var(--total) * 0.5 + var(--border-width));
    top: calc(var(--total) * -1.8);
    height: calc(var(--font-stroke) * 1.8);
    border-radius: var(--border-curve) var(--border-curve) 0 0;
    border-width: var(--border-width);
    border-style: solid;
    border-color: var(--orange-color);
    border-bottom: none;
}

.r .orange .big {
    left: calc(var(--total) * -1.5 + var(--border-width));
    top: calc(var(--total) * -0.2);
    width: calc(var(--total) * 2 + var(--font-stroke));
    height: calc(var(--total) * 1.5);
    border-radius: 0 0 var(--border-curve) var(--border-curve);
    border-top: none;
}

.r .orange .middle {
    top: calc(var(--total) * -0.2);
    left: calc(var(--total) * -0.5 + var(--border-width));
    width: var(--font-stroke);
    height: calc(var(--font-stroke) * 0.6);
    border-radius: 0 0 var(--border-curve) var(--border-curve);
    border-top: none;
}
