.r .blue {
    top: 0;
    left: 0;
    width: var(--font-stroke);
    height: calc(var(--font-stroke) * 5);
    border-radius: 50px;
}

.r .violet {
    top: calc(var(--font-stroke) * 3.5);
    left: 0;
    width: var(--font-stroke);
    height: calc(var(--font-stroke) * 1.5);
    border-radius: 50px;
}

.r .pink {
    top: calc(var(--total) * 1.8);
    left: calc(var(--total) * 1.45);
    width: var(--total);
    height: calc(var(--total) * 3);
    border-radius: 50px;
    transform: rotate(135deg);
}

.r .orange {
    position: relative;
    border: none;
    transform: rotate(-90deg);
}

.r .orange span {
    border-color: var(--orange-color);
}

.r .orange .small-one,
.r .orange .small-two {
    position: absolute;
    top: calc(var(--total) * -0.7);
    left: calc(var(--total) * -1.5 + var(--border-width));
    width: var(--font-stroke);
    height: calc(var(--font-stroke) * 0.6);
    border-style: solid;
    border-width: var(--border-width);
    border-bottom: none;
    border-top: none;
}
.r .orange .small-two {
    left: calc(var(--total) * 0.5 + var(--border-width));
    top: calc(var(--total) * -1.8);
    height: calc(var(--font-stroke) * 1.8);
    border-radius: 50px 50px 0 0;
    border-top: var(--border-width) solid var(--orange-color);
    border-bottom: none;
}

.r .orange .big {
    position: absolute;
    left: calc(var(--total) * -1.5 + var(--border-width));
    top: calc(var(--total) * -0.2);
    width: calc(var(--total) * 2 + var(--font-stroke));
    height: calc(var(--total) * 1.5);
    border-style: solid;
    border-width: var(--border-width);
    border-radius: 0 0 50px 50px;
    border-top: none;
}

.r .orange .middle {
    position: absolute;
    top: calc(var(--total) * -0.2);
    left: calc(var(--total) * -0.5 + var(--border-width));
    width: var(--font-stroke);
    height: calc(var(--font-stroke) * 0.6);
    border-style: solid;
    border-width: var(--border-width);
    border-radius: 0 0 50px 50px;
    border-top: none;
}
