.u .orange {
    top: 0;
    left: 0;
    width: var(--font-stroke);
    height: calc(var(--font-stroke) * 4);
}

.u .blue {
    top: 0;
    left: calc(var(--total) * 2);
    width: var(--font-stroke);
    height: calc(var(--font-stroke) * 4);
}

.u .violet {
    top: 0;
    left: calc(var(--total) * 2);
    width: var(--font-stroke);
    height: calc(var(--font-stroke) * 1.6);
}

.u .pink {
    position: relative;
    border: none;
}

.u .pink span {
    border-color: var(--pink-color);
}

.u .pink .small-one,
.u .pink .small-two {
    position: absolute;
    top: calc(var(--font-stroke) * 3);
    left: 0;
    width: var(--font-stroke);
    height: calc(var(--font-stroke) * 0.6);
    border-radius: 50px 50px 0 0;
    border-bottom: none;
}
.u .pink .small-two {
    left: calc(var(--total) * 2);
}

.u .pink .big {
    position: absolute;
    top: calc(var(--font-stroke) * 3.6);
    width: calc(var(--total) * 2 + var(--font-stroke));
    height: calc(var(--total) * 1.5);
    border-radius: 0 0 50px 50px;
    border-top: none;
}

.u .pink .middle {
    position: absolute;
    top: calc(var(--font-stroke) * 3.6);
    left: var(--total);
    width: var(--font-stroke);
    height: calc(var(--font-stroke) * 0.6);
    border-radius: 0 0 50px 50px;
    border-top: none;
}
